<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classroom lights</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var socket = io();

            var lampsarray = ['lamp1a', 'lamp1b', 'lamp1c', 'lamp2a', 'lamp2b', 'lamp2c', 'lamp3a', 'lamp3b', 'lamp3c', 'lamp4a', 'lamp4b', 'lamp4c', 'lamp5a', 'lamp5b', 'lamp5c', 'lamp6a']
            var lampslength = lampsarray.length
            var resarray = []
            function lampstatus() {
                for (let i = 0; i < lampslength; i++) {
                    $.ajax({
                        type: 'GET',
                        url: "/api/" + lampsarray[i],
                        success: function (data) {
                            var result = data.lampvalue
                            var res = result.replace(/\D/g, ""); //get only the number from the string
                            console.log(lampsarray[i], data, res)
                            if (res) { resarray.push(parseInt(res)) }
                            $("#customRange" + lampsarray[i].slice(-2)).val(res);
                            $("#customRange" + lampsarray[i].slice(-2) + "Value").text(res);

                            // check if lamp6a 
                            if (lampsarray[i] == 'lamp6a') {
                                console.log(resarray, typeof resarray[1])
                                //take the average of the array
                                var sum = resarray.reduce(function (a, b) { return a + b; });
                                var avg = (sum / resarray.length).toFixed(0);
                                console.log(" avg", avg)
                                $("#customRange" + lampsarray[i].slice(-2)).val(avg);
                                $("#customRange" + lampsarray[i].slice(-2) + "Value").text(avg);

                                resarray = [];
                            }
                        }
                    })
                }
            }

            lampstatus();

            socket.on('ReceiveFromLampServer', function (msg) {
                //console.log(msg);
                lampstatus();
            });
            // call lampstatus every 30 seconds
            //setInterval(lampstatus, 30000);

            //set all lamps to the value of a slider
            $(".myslider-range-all").change(function () {
                for (let i = 0; i < lampslength; i++) {
                    console.log("Slider " + lampsarray[i] + " aangepast naar " + $(this).val());
                    $("#" + lampsarray[i].slice(-2) + "Value").text($(this).val()); //change the text to the slider value
                    $.ajax({
                        type: 'POST',
                        url: 'api/lamp' + lampsarray[i].slice(-2),
                        data: { dimming: $(this).val() }
                    });
                }
                lampstatus();
            });


            $(".myslider-range").change(function () {
                $("#" + this.id + "Value").text($(this).val()); //change the text to the slider value

                $.ajax({    //change the value of the lamp based on the slider value
                    type: 'POST',
                    url: 'api/lamp' + this.id.slice(-2),
                    data: { dimming: $(this).val() }
                });
            });
        });
    </script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        input:focus+label {
            color: black;
        }

        .slider-range {
            background-color: #0ba9e7;
        }
    </style>

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/cover.css">

</head>


<body class="d-flex h-100 text-center text-bg-dark">

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Lampss</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                </nav>
            </div>
        </header>

        <div class="text-center">
            <div class="form-signin w-auto m-auto text-nowrap">
                <h1 class="h3 mb-3 fw-normal">Change the dimming level</h1>
            </div>
        </div>
        <div class="bg-light p-5 mt-3 rounded">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 1a</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange1aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange1a">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 1b</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange1bValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange1b">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 1c</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange1cValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange1c">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 2a</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange2aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange2a">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 2b</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange2bValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange2b">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 2c</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange2cValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange2c">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 3a</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange3aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange3a">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 3b</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange3bValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange3b">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 3c</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange3cValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange3c">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 4a</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange4aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange4a">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 4b</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange4bValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange4b">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 4c</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange4cValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange4c">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 5a</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange5aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange5a">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 5b</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange5bValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange5b">
                    </div>
                    <div class="col">
                        <label for="customRange1" class="text-muted">Column 5c</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange5cValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range" id="customRange5c">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="customRange1" class="text-muted">All</label>
                        <p class="text-muted">Value
                            <span class="myvalues text-muted" id="customRange6aValue"> -1 </span>
                        </p>
                        <input type="range" min="0" max="100" class="myslider-range-all" id="customRange6a">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
        <footer class="mt-auto text-white-50">
            <p> Jarne Van der Plas</p>
        </footer>
    </div>
</body>

</html>